.projects-section h2 {
  color: var(--text);
  text-align: center;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px;
}

.project-item {
  width: calc(30% - 20px); /* Muestra tres elementos por fila, con un margen */
  box-sizing: border-box;
  background-color: var(--background);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-item:hover {
  transform: scale(1.05); /* Aumento de tamaño al pasar el ratón */
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-description {
  padding: 15px;
  flex-grow: 1; /* Esto asegura que la descripción ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los botones estén abajo */
}

.project-description h3 {
  color: var(--text);
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description p {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.project-description ul {
  list-style-type: none;
  padding: 0;
}

.project-description li {
  background-color: var(--buttom);
  color: var(--text-secondary);
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-description li:hover {
  transform: translateY(-2px);
}

.project-description li svg {
  margin-right: 8px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Alinea los botones al centro */
  margin-bottom: 15px; /* Añade un pequeño margen abajo de los botones */
}

.buttons .btn {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons .btn:hover {
  background-color: var(--buttom);
}

/* Media Queries */
@media (max-width: 768px) {
  .project-item {
    width: calc(100% - 20px); /* Acomoda los proyectos en una sola columna */
  }

  .project-description h3 {
    font-size: 20px;
  }

  .project-description p {
    font-size: 14px;
  }

  .project-description li {
    font-size: 12px;
  }
}
