/* Contenedor principal de cada sección */
.container, .about-me, .technologies, .experience, .projects, .soft-skills {
  height: auto; /* Cambio a auto para ajustarse al contenido */
}

/* Contenedor principal */
.container {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  padding: 0 200px; /* Cambié de 200px a 20px para mejorar la adaptabilidad */
  background-color: var(--background);
  flex-direction: row; /* En pantallas grandes, los elementos se alinean horizontalmente (imagen a la derecha y texto a la izquierda) */
  gap: 50px; /* Agrega espacio entre el texto y la imagen */
}

/* Estilo para el contenedor de texto */
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left; 
  color: var(--text);
}

/* Estilo para la imagen */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 20px; /* Agregado espacio entre la imagen y el texto */
}

/* Imagen dentro del contenedor de la imagen */
.image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

/* Estilo para el nombre azul */
.name {
  color: var(--primary);
  font-weight: bold;
}

.text p {
  font-size: 20px;
}

h1 {
  font-size: 50px; /* Cambié el tamaño para que sea más amigable en pantallas pequeñas */
  color: var(--text);
}

h2 {
  font-size: 30px; /* Reduje el tamaño de la fuente */
  text-align: center;
  color: var(--text);
}

h3 {
  text-align: center;
  font-size: 18px;
}

/* Botón */
.btn {
  position: relative;
  background-color: var(--primary); 
  color: var(--text-secondary);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 6px 6px 0px var(--buttom);
}

.btn:hover {
  transform: translateY(-2px);
  background-color: var(--buttom);
  box-shadow: 6px 6px 0px var(--primary);
}

/* Sección de about me */
.about-me {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
  background-color: var(--primary);
  text-align: center;
}

.about-me p {
  font-size: 18px; /* Reduje el tamaño de la fuente */
  line-height: 1.8;
  color: var(--text-secondary);
  text-align: center;
  max-width: 90%; /* Permití un 90% de ancho para mejor adaptabilidad */
  padding-bottom: 20px;
}

/* Para pantallas pequeñas (máximo 768px de ancho) */
@media (max-width: 768px) {
  .about-me {
    padding: 20px 10px; /* Ajusté el padding */
    flex-direction: column; /* Asegura que el texto esté centrado y en una sola columna */
    justify-content: flex-start; /* Alinea el contenido al inicio */
  }

  .about-me p {
    font-size: 16px; /* Reducir el tamaño del texto si es necesario */
    line-height: 1.6;
  }
}

/* Sección de tecnologías */
.technologies {
  text-align: center;
  padding: 50px 20px;
  background-color: var(--background);
}

.technologies h2 {
  text-transform: uppercase;
}

.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: start;
  gap: 20px;
}

.category h3 {
  text-transform: uppercase;
  font-size: 24px;
  color: var(--text);
  text-align: center;
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  background: var(--card);
  color: var(--text-secondary);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}

.icon {
  font-size: 40px;
  align-items: center;
  display: flex;
}

.card:hover .icon {
  transform: scale(1.1);
}

/* Sección de experiencia */
.experience {
  background: var(--primary);
  padding: 50px 20px;
}

.experience h2 {
  color: var(--text-secondary);
  text-transform: uppercase;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

.right-container {
  display: flex;
  max-width: 45%;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.left-container {
  display: flex;
  max-width: 55%;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.experience-card {
  background: var(--card-secondary);
  color: var(--text);
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  text-align: left;
  flex-grow: 1;
  word-wrap: break-word;
}

.experience-card h2 {
  color: var(--text);
  font-size: 20px;
}

.experience-card h3 {
  color: var(--text);
  font-size: 18px;
}

.experience-card p {
  color: var(--text);
  font-size: 15px;
}

/* Sección de proyectos */
.projects {
  background: var(--background);
  padding: 50px 20px;
}

.projects h2 {
  color: var(--text);
  text-transform: uppercase;
}

/* Sección de soft skills */
.soft-skills {
  background: var(--background);
  padding: 50px 20px;
}

.soft-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.soft-card {
  background: var(--card);
  color: var(--text-secondary);
  padding: 20px;
  border-radius: 20px;
  width: 100%; /* Ahora es el 100% en pantallas pequeñas */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.soft-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.skill-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.soft-header h2 {
  color: var(--text-secondary);
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.soft-card p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
}

/* Sección de contacto */
.contact {
  text-align: center;
  height: auto;
  padding: 40px 20px;
  background: var(--primary);
  color: var(--text);
  border-radius: 5px;
}

.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.email-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--background);
  text-decoration: none;
}

.email-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.social-icons {
  color: var(--background);
  margin-top: 50px;
}

.social-icons a {
  color: var(--background);
  margin: 0 10px;
}

/* Media Queries para dispositivos pequeños */

/* Para pantallas pequeñas (máximo 768px de ancho) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
    padding: 30% 50px;
  }

  .image img {
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  .about-me p {
    font-size: 18px;
  }

  .technologies .categories-container {
    grid-template-columns: 1fr;
  }

  .tech-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .experience-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience-card {
    width: 100%;
  }

  .projects {
    padding: 20px;
  }

  .soft-container {
    grid-template-columns: 1fr;
  }

  .soft-card {
    width: 100%;
  }

  .contact {
    padding: 20px;
  }
}

/* Para pantallas muy pequeñas (máximo 480px de ancho) */
@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .email-img {
    width: 80px;
    height: 80px;
  }
}
