:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #36619A;
  --buttom:#0797AD;
  --background: #F2EADF; 
  --card: #36619A;
  --card-secondary:#C6DFF9;
  --text: #000000; 
  --text-secondary: #FFFFFF; 
}

[data-theme="dark"] {
  --primary: #C6DFF9; 
  --buttom:#1FD7DB;
  --background: #0D1721; 
  --card: #C6DFF9;
  --card-secondary:#36619A;
  --text: #FFFFFF; 
  --text-secondary: #000000; 
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll lateral innecesario */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth; /* Desplazamiento suave */

}

